@import "tailwindcss";

/* Smooth font rendering */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
  padding-bottom: env(safe-area-inset-bottom);
}

/* PWA safe-area support */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
